* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    height: 100vh;
    display: flex;
    background: gray;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to bottom right, #f1b5fc, #9c3cad); */
    background-image: linear-gradient(rgba(241,181,252,0.6), rgba(156,60,173,1 )), url('winter2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    font-size: 1.2rem;
    color: rgb(20, 20, 20);
    font-weight: 800;
}
h2{
    font-size: 1rem;
    color:  #bbb;
}
h3{
    font-size: 1.2rem;
    color: #9c27b0;
}
.container{
    max-width: 375px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background: #fff;
    border-radius: 5px;
    padding: 30px 30px 15px;
}
.container h1{
    text-align: center;
    margin-bottom: 30px;
}
.container h2{
    margin-top: 30px
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    cursor: pointer;
    font-size: 14px;
    font-weight: 500px;
    padding: 10px ;
    width: 100%;
    border: none;
    border-bottom: 1px solid #eb7cff;
    transition: 500ms ease all;  
}
label{
    margin-top: 30px;
    font-size: 0.9rem;
    color: rgb(73, 73, 73);
}
input:focus{
    outline: 0px;
    outline: none;
    box-shadow: 0 1px 0px 0 #9c27b0;

} 
form button{
    cursor: pointer;
    background-color: #9c27b0;
    border-radius: 30px;
    border: none;
    color: #fff;
    padding: 10px 30px;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: .7em;
    transition: 500ms ease all;   
}
button:hover{
    background-color: #601db8;
    transform: scale(0.98);
    
}
button:focus {
    outline: none;
}
@media screen and (min-width: 768px){
    h1{
        font-size: 1.6rem;
    }
    h2{
        font-size: 1.4rem;
    }
    h3{
        font-size: 1.3rem;
    }
    .container{
        width: 768px;
    }
    form{
        width: 100%;
    }
    form button{
        padding: 15px 70px;
        margin-bottom: 15px;
    }
    input{
        font-size: 18px;
    }
    label{
        margin-top: 30px;
        font-size: 1.2rem;
        color: rgb(73, 73, 73);
    }

}
@media screen and (min-width: 1440px){
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.8rem;
    }
    h3{
        font-size: 1.6rem;
    }
    .container{
        max-width: 960px;
    }
    .input-wrap{
        width: 80%;
    }
    .input-wrap:nth-of-type(2) {
        width:20%;
    }
    .input-wrap:nth-of-type(3) {
        text-align: center;
    }
    form button{
        padding: 15px 70px;
    }   
}
